.test {
width: 200px; /* устанавливаем ширину блока */
height: 100px;  /* устанавливаем высоту блока */
border-radius: 50px;  /* определяем форму углов элемента */
position: relative;  /* элемент с относительным позиционированием (position:static - по умолчанию и, как следствие, значение свойства left не повлияли бы на позиционирование элемента) */
-webkit-animation: iliketomoveit 10s infinite;  /*  для поддержки ранних версий браузеров */
animation: iliketomoveit 10s infinite;  /* задаём имя анимации (соответствует имени назначенному в ключевых кадрах), продолжительность анимации и указываем, что анимация будет повторяться бесконечно  */
} 
@-webkit-keyframes iliketomoveit { /* для поддержки ранних версий браузеров */ 
        0%   {left: 0px;} /* задаем начало анимации */ 
        25%  {left: 400px; background: rgb(33, 4, 179);} /* сдвигаем элемент на 400px от левого края при этом устанавливаем цвет заднего фона */ 
        50% {left: 100px; background: rgb(30, 239, 208);} /* сдвигаем элемент на 100px от левого края при этом устанавливаем цвет заднего фона */
        75%  {left: 200px;}  /* уменьшаем сдвиг от левого края */ 
        100% {left: 0px; background: rgb(240, 11, 84);} /* возвращаем элемент на первоначальную точку и изменяем цвет заднего фона */ 
        } 
@keyframes iliketomoveit {
        0%   {top: 0px;} 
        25%  {top: 400px; background: rgb(33, 4, 179);} 
         50% {bottom: 100px; background: rgb(30, 239, 208);}
        75%  {top: 200px;} 
        100% {bottom: 0px; background: rgb(240, 11, 84);} 
        }
